# for stl file
*.stl
*.obj

# for imported python file
*.pyc

# for mujoco error file
MUJOCO_LOG.TXT

# for params
conf/*.yaml
!conf/*defaults.yaml
model/*
!model/.gitkeep

# for log
logs/*

# for gathered data
data/*
!data/.gitkeep

# for check
test.py
